.sec01 {
}
.visual {
  width: 100%;
  height: 100vh;
  background: url("../image/visual_bg.png") no-repeat bottom center;
  background-size: cover;
}
.visual_contents {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(255, 192, 203, 0.2);
}
.visual_contents .shooting_star {
  display: block;
  width: 300px;
  height: 1px;
  background: crimson;

  position: absolute;
  top: 0;
  animation: load_star 2.3s infinite;
}
.visual_contents .shooting_star.star00 {
  left: -30%;
  animation-delay: 0.1s;
  background: #c2b6bb;
  opacity: 1;
}
.visual_contents .shooting_star.star01 {
  left: -10%;
  background: #c2b6bb;
  opacity: 0.8;
}
.visual_contents .shooting_star.star02 {
  left: -5%;
  animation-delay: 0.2s;
  background: #c2b6bb;
  opacity: 0.5;
}
.visual_contents .shooting_star.star03 {
  left: 8%;
  animation-delay: 1s;
  background: #c2b6bb;
  opacity: 1;
}
.visual_contents .shooting_star.star04 {
  left: 20%;
  animation-delay: 0.8s;
  background: #b3bba7;
  opacity: 0.3;
}
.visual_contents .shooting_star.star05 {
  left: 30%;
  animation-delay: 0.3s;
  background: #c2b6bb;
  opacity: 0.7;
}
.visual_contents .shooting_star.star06 {
  left: 40%;
  animation-delay: 1.1s;
  background: #c2b6bb;
  opacity: 1;
}
.visual_contents .shooting_star.star07 {
  left: 50%;
  background: #c2b6bb;
  opacity: 0.3;
}
.visual_contents .shooting_star.star08 {
  left: 60%;
  animation-delay: 1.5s;
  background: #c2b6bb;
  opacity: 1;
}
.visual_contents .shooting_star.star09 {
  left: 70%;
  animation-delay: 0.6s;
  background: #c2b6bb;
  opacity: 0.8;
}
.visual_contents .shooting_star.star10 {
  left: 80%;
  animation-delay: 0.1s;
  background: #c2b6bb;
  opacity: 0.5;
}

@keyframes load_star {
  0% {
    transform: rotate(45deg) translate(0, 0);
  }
  100% {
    transform: rotate(45deg) translate(500%, 100%);
  }
}

.visual_mountains {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: 100%;
  /* height: 568px; */
}
.visual_mountains img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.visual_mountains img.mountain {
  width: 100%;
}
.visual_mountains img.mountain01 {
  z-index: 29;
}
.visual_mountains img.mountain02 {
  z-index: 9;
}
.visual_mountains img.cloud {
  z-index: 19;
  opacity: 0.93;
  transform: translateX(-50%) translateY(20%);
  animation: load_cloud 65s infinite;
}

@keyframes load_cloud {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.visual_title {
  width: 620px;
  position: absolute;
  left: 200px;
  top: 190px;

  overflow: hidden;
  color: white;
}
.visual_title .name {
  font-size: 28px;
  font-weight: 800;
  line-height: 28px;
  text-transform: uppercase;
  animation: load_p_cont 1.5s both;
  animation-delay: 4s;
}

.visual_title .p_cont {
  margin: 40px 0 57px;
}
.visual_title .p_cont p {
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: -1.5px;
  margin-bottom: 15px;
  animation: load_p_cont 1.5s both;
}
.visual_title .p_cont p.p01 {
  animation-delay: 4.2s;
}
.visual_title .p_cont p.p02 {
  animation-delay: 4.4s;
}
.visual_title .p_cont p.p03 {
  animation-delay: 4.6s;
}
.visual_title .p_cont p.p04 {
  animation-delay: 4.8s;
}
.visual_title .p_cont p.p05 {
  margin-bottom: 0px;
  animation-delay: 5s;
}

.visual_title .Popol {
  font-size: 145px;
  font-weight: 400;
  line-height: 150px;
  display: block;
  animation: load_p_cont 1.5s both;
  animation-delay: 5.2s;
  text-shadow: 4px 1px 20px white;
  font-family: "Noto Serif", serif;
}

@keyframes load_p_cont {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* portfolio */
.portfolio {
  width: 100%;
  height: 227vh;
  background: url("../image/sec02_bg.png") no-repeat center top;
  background-size: cover;
}
.portfolio .cloud02 {
  position: absolute;
  left: -10%;
  top: 130px;
  /* transform: translateX(-40%); */
  z-index: 3;
  width: 3185px;
  height: 1139px;
  width: 166vw;
  height: 122vh;
}
.portfolio .cloud02 img {
  width: 100%;
  height: 100%;
  opacity: 0.65;
}
.s_cloud {
  width: 822px;
  height: 480px;
  position: absolute;
  top: 0;
  z-index: 6;
}
.s_cloud.s_cloud01 {
  top: 20px;
  left: 20%;
}
.s_cloud.s_cloud02 {
  top: 340px;
  right: -10%;
}
.s_cloud.s_cloud03 {
  top: 584px;
  left: -10%;
}
.s_cloud.s_cloud04 {
  top: 870px;
  right: -5%;
}
.s_cloud.s_cloud05 {
  top: 1318px;
  left: -15%;
}
.s_cloud.s_cloud06 {
  top: 1672px;
  right: -20%;
}

.introduction {
  width: 1325px;
  height: 645px;
  padding: 130px 0 180px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 10;
}
.introduction .intro_items {
}
.introduction .intro_items.items01 {
  width: 350px;
  /* border: 1px solid black; */
}
.introduction .intro_items.items01 .Photo {
  width: 100%;
  margin-bottom: 50px;
}
.introduction .intro_items.items01 .desc {
  width: 100%;
}
.introduction .intro_items.items01 .desc .item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.introduction .intro_items.items01 .desc .item02 {
  margin: 25px 0;
}
.introduction .intro_items.items01 .desc .item img {
  margin-right: 35px;
}
.introduction .intro_items.items01 .desc .item img.icon01 {
}
.introduction .intro_items.items01 .desc .item img.icon02 {
  margin-right: 40px;
}
.introduction .intro_items.items01 .desc .item img.icon03 {
}
.introduction .intro_items.items01 .desc .item p {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}

.introduction .intro_items.items02 {
  width: 750px;
  /* border: 1px solid black; */
}
.introduction .intro_items.items02 .desc {
}
.introduction .intro_items.items02 .desc .item {
}
.introduction .intro_items.items02 .desc .item11 {
}
.introduction .intro_items.items02 .desc .item11 h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -2px;
  margin-bottom: 25px;
}
.introduction .intro_items.items02 .desc .item p {
  color: #353535;
}
.introduction .intro_items.items02 .desc .item11 p {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  font-family: "Nanum Myeongjo", serif;
}
.introduction .intro_items.items02 .desc .item11 p:nth-child(3) {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.introduction .intro_items.items02 .desc .item11 p:nth-child(3) span {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 32px 0 15px;
  display: inline-block;
}
.introduction .intro_items.items02 .desc .item11 p:nth-child(3) strong {
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  color: #2f3b67;
  display: inline-block;
}

.introduction .intro_items.items02 .desc .item22 {
}
.introduction .intro_items.items02 .desc .item22 h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 50px 0 26px;
}
.introduction .intro_items.items02 .desc .item22 p {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1px;
  font-family: "Nanum Myeongjo", serif;
}
.introduction .intro_items.items02 .desc .item22 p:nth-of-type(2) {
  margin: 15px 0;
}
.introduction .intro_items.items02 .desc .item22 p span {
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.introduction .intro_items.items02 .desc .item33 {
}
.introduction .intro_items.items02 .desc .item33 h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}
.introduction .intro_items.items02 .desc .item33 p {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Nanum Myeongjo", serif;
}

/* produce */
.produce {
  position: relative;
  z-index: 10;
}
.produce .inner {
  width: 1520px;
  margin: 0 auto;
}
.produce .inner h2.title {
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  font-family: "Noto Serif", serif;
  color: #2f3b67;
  text-transform: uppercase;
}
.produce .desc {
}
.produce .desc h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #2f3b67;
  text-transform: uppercase;
  margin: 60px 0 25px;
}

.produce_slider {
  width: calc(100% + 40px);
}
.produce_slider .item {
  width: 480px;
  height: 355px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 40px 0 0;

  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
}
.produce_slider .item div {
  width: 100%;
  height: 300px;
  border: 1px solid #717171;
  box-sizing: border-box;
  background: pink;
  overflow: hidden;
  display: block;
}

.produce_slider .item div img {
  width: 100%;
  transform: translateY(0);
  transition: 5s;
}
.produce_slider .item:hover img {
  transition: 7s;
}
.produce_slider .item.item31:hover img {
  transform: translateY(-90.8%);
}
.produce_slider .item.item32:hover img {
  transform: translateY(-85%);
}
.produce_slider .item.item33:hover img {
  transform: translateY(-88%);
}
.produce_slider .item.item34:hover img {
  transform: translateY(-80.5%);
}

.produce_slider .item.item41:hover img {
  transform: translateY(-70.5%);
}
.produce_slider .item.item42:hover img {
  transform: translateY(-77%);
}
.produce_slider .item.item43:hover img {
  transform: translateY(-70%);
}
.produce_slider .item.item44:hover img {
  transform: translateY(-69.5%);
}
.produce_slider .item.item45:hover img {
  transform: translateY(-70.5%);
}
.produce_slider .item.item46:hover img {
  transform: translateY(-68.5%);
}
.produce_slider .item.item47:hover img {
  transform: translateY(-70%);
}
.produce_slider .item.item48:hover img {
  transform: translateY(-70%);
}
.produce_slider .item.item49:hover img {
  transform: translateY(-64%);
}

.produce_slider .item h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.produce_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.produce_arrow span {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  display: block;
  margin: 30px 20px 0 20px;
  cursor: pointer;
}
.produce_arrow span.creation_p,
.produce_arrow span.career_p {
  color: #9c6832;
}
.produce_arrow span.creation_n,
.produce_arrow span.career_n {
  color: #2f3b67;
}

.produce_pop {
}
/* .produce_pop::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
} */
.item_popup {
  width: 1300px;
  height: 800px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  display: none;
  background: url("../image/pop_bg.png") no-repeat center center;
  background-size: cover;
}

.item_popup .contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.item_popup .title {
  text-align: center;
  margin-top: 80px;
}
.item_popup .title h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
  color: #2f3b67;
  margin-bottom: 20px;
}
.item_popup .title p {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -1px;
  color: #353535;
}

.pop_inner {
  width: 1200px;
  height: 530px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pop_inner .desc {
  height: 100%;
}
.pop_inner .desc:nth-child(1) {
  width: calc(100% - 780px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.pop_inner .desc:nth-child(2) {
  width: 780px;
}
.pop_inner .desc .pop_cont {
  width: 100%;
  height: 420px;
  /* background: pink; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.item_popup.modal33 .pop_inner .desc .pop_cont,
.item_popup.modal34 .pop_inner .desc .pop_cont {
  height: 280px;
}
.pop_inner .desc .item {
}
.pop_inner .desc .item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1px;
  color: #2f3b67;
  margin-bottom: 12px;
}
.pop_inner .desc .item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -1px;
  color: #353535;
}

.pop_inner .desc .pop_link_cont {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid black; */
}
.pop_inner .desc .pop_link_cont a {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop_inner .desc .pop_link_cont a:nth-of-type(1) {
  background: #2f3b67;
}
.pop_inner .desc .pop_link_cont a:nth-of-type(2) {
  background: #9c6832;
}
.pop_inner .desc .pop_link_cont a span {
  font-size: 17px;
  font-weight: 500;
  line-height: 17px;
  color: #fff;
}

.pop_inner .desc .item_img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.pop_inner .desc .item_img31 {
  background: url("../image/pop_golden.png") no-repeat center center;
}
.pop_inner .desc .item_img32 {
  background: url("../image/pop_hollys.png") no-repeat center center;
}
.pop_inner .desc .item_img33 {
  background: url("../image/pop_yabnoja.png") no-repeat center center;
}

.item_popup .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
}
.item_popup .close img {
  width: 100%;
  height: 100%;
}

/* career */
